@media (min-width:768px) {
.header .h-right .setting-btns .dropdown-menu {right:0; left:auto;}
.more { display:none;}
.content-section .sidebar { float: left;}
.close-menu, .show-list-btn { display:none;}
}
@media (min-width:1921px) {
.inner-bg { background-size: 100%;}
.login-bg { background-size: 100%;}

}
@media (min-width:501px) {
.new-user-list .add-user-option ul li:last-child { border-right:0px; padding-right:0px; margin-right:0px;}
}
@media (max-width:340px) {
.login-section .login-area p {margin:10px 0px; font-size:12px;}
.login-section { margin-top:20px !important;}
.login-bg .copyright { margin-bottom:0px; margin-top:10px;}

}

@media (max-width:767px) {
	
.m-t-15 { margin-top:0px;}
	.width-70 {
    width: auto !important;
    margin-right: 50px !important;
    float: none !important;
}
	.devider { background:none;}
	.header { margin-bottom: 15px;}
	.header .logo { text-align:center; }
	.header .logo img { width:175px; }
	.header .h-right {position: absolute;top: 0px;left: 0px;right: 0px;z-index: 999;background: rgba(0, 0, 0, 0.8);padding: 10px;text-align: center; display:none;}
	.header .h-right .social {width: 100%;margin-bottom: 10px;}
	.header .h-right .userinfo { width: 100%; margin-bottom: 10px; padding: 10px 0px; border-top: 1px solid rgba(255, 255, 255, 0.13); border-bottom: 1px solid rgba(255, 255, 255, 0.13);}
	/*.header .h-right .social .facebook, .header .h-right .social .twitter, .header .h-right .social .gplus { padding:7px;}
	.header .h-right .social img { width:24px; }*/
	.header .h-right .social li { margin-right: 5px;float: none;display: inline-block;}
	.header .h-right .social li:last-child { margin-right:5px;}
	.header .h-right .userinfo li { float: none; display: inline-block;}
	/*.header .h-right .userinfo img { width: 42px;}*/
	.header .h-right .userinfo li:last-child { margin-right: 10px;}
	.header .h-right .setting-btns { width: 100%;position: relative;}
	.header .h-right .setting-btns .btn-group { position:inherit;}
	.header .h-right .setting-btns .btn-group .dropdown-menu { right: 0px;border: 0px;border-radius: 0px;}
	.header .h-right .setting-btns li { float: none; margin-right: 0px; display: inline-block; text-align:center;}
	.header .h-right .setting-btns .dropdown-menu li { border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
	.header .h-right .setting-btns .dropdown-toggle { padding: 8px 0px;}
	.header .h-right .setting-btns .dropdown-toggle .setting-icon { padding: 14px 19px;}
	.header .h-right .setting-btns .dropdown-toggle .logout-icon { padding: 14px 18px;}
	.content-section .sidebar { display:none; width: 280px;position: fixed; left: 0px; top: 0px; bottom: 0px; z-index: 9999; background: #fff; border-right: 2px solid #000;overflow: scroll;}
	.content-section .chat-section { margin-left: 0;}
	.show-list-btn { position: absolute; top: 5px;color: #fff; cursor: pointer; border-radius: 50%; margin-left: 5px; z-index: 999; background: rgba(0, 0, 0, 0.38) ; padding: 6px 11px;}
	.close-menu {position: fixed;z-index: 999;left: 279px;color: rgb(144, 144, 144);top: 12px;display: none;cursor: pointer;background: #333;padding: 3px 7px;border-radius: 0px 10px 10px 0px;font-size: 18px;}
	.content-section .container { padding-right: 10px; padding-left: 10px;}
	.content-section .container .row { margin-right: 0px; margin-left: 0px;}
	.content-section .container .row .col-md-12 {padding-left: 0px;padding-right: 0px;}
	.content-section .top-header .search input[type="text"] { width: 100%;}
	/*.new-user-list { position: relative;}
	.new-user-list .add-user-option .approval-panding { position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; background: rgba(85, 179, 224, 0.6); text-align: center;font-size: 24px; font-weight: 700; color: #000;}*/
	.new-user-list .add-user-option { font-size: 13px;}
	.login-section { margin: 30px auto 0px auto;}
	.login-section .login-area .input-field .action-btn { margin-bottom: 0px;}
	.form-area .input-field .action-btn { margin-bottom: 0px;}
	.right-b-r { border-radius: 5px 5px 0px 0px;}
	.content-section .chat-section .detail-area { border-radius: 0px 0px 5px 5px;}
	.new-user-list .new-user-name .since {  font-size: 14px;}
	.top-b-r { border-radius: 0px 0px 0px 0px;}
	.content-section .top-header .search { width: 100% ; margin: 0px; padding: 0px 20px;}
}
@media (max-width:600px) {
}
@media (max-width:500px) {
	.new-user-list .new-user-photo {  margin-right: 10px;  margin-left: 10px;}
	.new-user-list .new-user-photo img { border-radius: 40px; width: 40px; padding: 2px;}
	.new-user-list .new-user-name { margin-right: 10px; padding-top: 0px;}
	.new-user-list .new-user-name .user-name { margin-right: 10px; font-size: 14px;}
	.new-user-list .new-user-name .since { font-size: 12px;}
	.new-user-list .add-user-option {margin-right: 5px; margin-top: 0px;}
	/*.new-user-list .add-user-option ul li {float: none; border-right: 0px solid #c2c6ca; padding-right: 5px; margin-right: 5px; margin-bottom:3px; display: block;*/
	.new-user-list .add-user-option ul li:last-child { margin-bottom:0px;}
	.new-user-list .add-user-option img {width: 18px;}
	.add-user-section .add-user-photo img { width: 170px;}
	.add-user-section .edit-user-photo img { width: 100px;}
	.add-user-section .add-user-name { font-size: 30px; }
	.add-user-section .add-user-info { font-size: 18px; padding-bottom: 20px; margin-bottom: 20px;}
	.add-user-section .add-user-info ul li { display: block; line-height: 28px;}
	.Feedback-area textarea { width: 100%;}
	.content-section .chat-section .detail-area .title .btn-default { font-size: 15px; padding: 3px;}
	.content-section .chat-section .detail-area .title { position: relative;}
	.content-section .chat-section .detail-area .title .btn-group, .content-section .chat-section .detail-area .title .btn-group-vertical {  position: static;}
	.content-section .chat-section .detail-area .title .dropdown-menu { width:100%;}
	.dropdown-menu { position: absolute; top: 29px;}
	/*.new-user-list .add-user-option .approval-panding { padding-top: 13px;}*/
	.new-user-list .new-user-name .since { width: 100%;}
	.new-user-list .new-user-photo { width: 40px;}
	.new-user-list .new-user-name { float: none; margin-left: 60px;}
	
	
	.login-section { width: 300px;}
	.login-section .logo-canter img { width:200px;}
	.login-section .bottom-shadow img { width:100%;}
	.login-section .social-btns { margin-top: -9px;}
	.fb-btn, .tweet-btn, .gplus-btn {padding: 0; font-size: 13px; width: 51px;}
	.fb-btn span, .tweet-btn span, .gplus-btn span { display:none;}
	.fb-btn .fa, .tweet-btn .fa, .gplus-btn .fa { font-size: 26px;float: none;line-height: 50px;}
	.login-section .login-area { width: 300px;}
	.login-section .login-area .input-field, .login-section .login-area .input-field input[type="text"], .login-section .login-area .input-field input[type="password"] { width: 100%;}
	.login-section .login-area .input-field .action-btn { width: 48%; margin-right: 4%;}
	.login-section .login-area .input-field-first { width: 100%;}
	.login-section .login-area .input-field-first input[type="text"] { width: 100%; margin-right:0px;}
	
	
	.form-area { width: 300px;}
	.form-area .input-field, .form-area .input-field input[type="text"], .form-area .input-field input[type="password"] { width: 100%;}
	.form-area .input-field .action-btn { width: 48%; margin-right: 4%;}
	.form-area .input-field-first { width: 100%;}
	.form-area .input-field-first input[type="text"] { width: 100%; margin-right:0px;}
	
	.select-input { width: 100%; margin-right: 0px;}
	.radio-input { width: 97%;}
	.login-section .login-area .input-field-file { width: 100%;}
	.form-area .input-field-file { width: 100%;}
	.file-upload-input { width: 100%;}
	.splash .splash-section .splash-logo img { width:100%;}
	.splash .splash-section { margin-left: -140px;margin-top: -157px;width: 280px;}
	
	
	/*.content-section .chat-section .detail-area .position-banner { height: 140px;}*/
	.chat-window {min-height: 321px !important;}
	.chat-window .column-container { height: 319px;}
	.message-write-box { height: 140px; max-height: 140px;}
	.message-write-box .send-message-bar .send-input { width: 60%;}
	.message-write-box .send-message-bar .send-input input[type="text"] { padding: 12px 10px;}
	.message-write-box .send-message-bar .smily-box { width: 19%;}
	.message-write-box .send-message-bar .send-btn input[type="submit"] { padding: 11px 16px;}
	
	.message-write-box .send-message-bar .send-input {width: 100%; margin-bottom: 10px;}
	.message-write-box .send-message-bar .send-input input[type="text"] { padding: 8px 6px; font-size: 12px;}
	.message-write-box .send-message-bar .smily-box { width: 50%; margin-right:0px;}
	.message-write-box .send-message-bar .send-btn { width: 50%;}
	
	
	
	/*.content-section .chat-section .detail-area .position-banner-sec .chat-section-area img { height:75px}*/
	.content-section .chat-section .detail-area .group-chat-option-bar { height: 70px;}
	.frame { height: 70px;}
	.frame ul {padding: 7px 0px 0px 0px;}
	.frame ul li span { margin-bottom: 0px;}
	.my-chat {/*height: 484px;*/ min-height:484px !important;}
	.my-chat .column-container { height: 486px;}
	.new-user-list .add-user-option-sec { font-size: 13px;}
	.new-user-list .add-user-option-sec ul li { float: left; line-height: 30px;}
	.new-user-list .add-user-option-sec ul li span { margin-right: 0px;}
	.new-user-list .add-user-option-sec ul li img { margin-left: 0px;}
	.new-user-list .new-user-name { float: left; margin-left: 10px; width:90%;}
	.new-user-list .add-user-option-sec { margin-right: 10px;}
	.new-user-list .add-user-option-sec ul li:first-child { margin-right:5px;}
	.m-r-0 { margin-right:20px !important; width:auto !important; margin-left:0px !important;}
	.form-area { width: 100%;}
	.form-area .radio-input ul li label { font-size: 15px; padding: 0px 43px 0px 0px;}
	.m-r-0 { margin-right:20px !important;}
	.avatar-popup .modal-dialog { width: 80%; margin: 40px auto 0px auto;}
	.avatar-popup .modal-body .img-section ul li { width: 32%; margin: 10px 0px 10px 0px;}
	.avatar-popup .modal-body .img-section .choose-img { width: 60px;}
	.avatar-popup .modal-body .img-section .choose-img img {  width: 100%;}
	.avatar-popup .modal-body .img-section .choose-img .active { font-size: 30px; line-height: 60px;}
	.avatar-popup .modal-body .img-section .choose-img .select-img { font-size: 30px; line-height: 60px;}
	.fb-btn-splash {line-height: 60px;padding: 0px 20px;}
	.tweet-btn-splash {line-height: 60px;padding: 0px 14px;}
	.gplus-btn-splash {line-height: 60px;padding: 0px 8px;}
	.frame ul li { width: 150px;}
.splash-section .bottom-shadow { width:280px;}
	.all-category {width: 17%;}
	.sub-category { width: 63%;}
	.content-section .chat-section .detail-area .group-chat-option-bar { padding-top: 5px;}
	.all, .love, .education, .fitness, .sports, .health, .entertainment, .music {margin: 0px auto 0px auto;}
	}

@media (min-width:401px) and (max-width:500px) {
	.all-category {width: 17%;}
	.sub-category { width: 66%;}
	.content-section .chat-section .detail-area .group-chat-option-bar { padding-top: 5px;}
	.all, .love, .education, .fitness, .sports, .health, .entertainment, .music {margin: 0px auto 0px auto;}
}
@media (max-width:420px) {
	.add-user-section { padding: 50px 10px 20px 10px;}
	.add-user-section .add-user-info { font-size: 13px;}
	
}
@media (min-width:501px) and (max-width:767px) {
	
.splash-section .bottom-shadow { width:400px;}
	.frame ul li { width: 120px;}
	.Feedback-area textarea { width: 70%;}
	.new-user-list .new-user-photo { width: 60px;}
	.new-user-list .new-user-name { float: none; margin-left: 100px;margin-right: 180px;}
	.new-user-list .new-user-name .since { width: 100%;}
	.login-section { width: 460px;}
	.login-section .bottom-shadow img { width:100%;}
	.login-section .social-btns { margin-top: -9px;}
	.fb-btn, .tweet-btn, .gplus-btn {padding: 0px 20px;font-size: 13px;width: 140px;}
	.fb-btn .fa, .tweet-btn .fa, .gplus-btn .fa { font-size: 16px;}
	.login-section .login-area .input-field-first input[type="text"] { width: 208px;}
	.form-area .input-field-first input[type="text"] { width: 208px;}
	.splash .splash-section .splash-logo img { width:100%;}
	.splash .splash-section { margin-left: -200px; margin-top: -204px; width: 400px;}
	/*.content-section .chat-section .detail-area .position-banner { height: 198px;}*/
	.chat-window {min-height: 303px !important;}
	.chat-window .column-container { height: 301px;}
	.message-write-box .send-message-bar .send-input { width: 60%;}
	.message-write-box .send-message-bar .send-input input[type="text"] { padding: 12px 10px;}
	.message-write-box .send-message-bar .smily-box { width: 19%;}
	.message-write-box .send-message-bar .send-btn input[type="submit"] { padding: 11px 16px;}
	
	/*.content-section .chat-section .detail-area .position-banner-sec .chat-section-area img { height:133px}*/
	.content-section .chat-section .detail-area .group-chat-option-bar { height: 70px;}
	.frame { height: 70px;}
	.frame ul {padding: 7px 0px 0px 0px;}
	.frame ul li span { margin-bottom: 0px;}
	.my-chat {/*height: 484px;*/ min-height:484px !important;}
	.my-chat .column-container { height: 486px;}
	.m-r-0 { margin-right:20px !important;}
	.avatar-popup .modal-dialog { width: 80%; margin: 40px auto 0px auto;}
	
	.all-category {width: 10%;}
	.sub-category { width: 76%;}
	.content-section .chat-section .detail-area .group-chat-option-bar { padding-top: 5px;}
	.all, .love, .education, .fitness, .sports, .health, .entertainment, .music {margin: 0px auto 0px auto;}
}
@media (max-width:1200px) {
}
@media (min-width:768px) and (max-width:991px) {
	.frame ul li { width: 140px;}
	.add-user-section .add-user-info ul li { font-size: 16px;}
	.header .logo img { width: 210px;margin-top: 8px; }
	.header .h-right .social .facebook, .header .h-right .social .twitter, .header .h-right .social .gplus { /*padding:7px;*/}
	.header .h-right .social img { width:24px; }
	.header .h-right .social li { margin-right: 5px;}
	.header .h-right .social li:last-child { margin-right: 10px;}
	.header .h-right .userinfo img { /*width: 42px;*/}
	.header .h-right .userinfo li:last-child { margin-right: 10px;}
	.header .h-right .setting-btns .dropdown-toggle { padding: 8px 0px;}
	.header .h-right .setting-btns .dropdown-toggle .setting-icon { padding: 5px 19px;}
	.header .h-right .setting-btns .dropdown-toggle .logout-icon { padding: 14px 18px;}
	.content-section .sidebar {  width: 300px;}
	.content-section .chat-section {  margin-left: 300px;}
	.new-user-list .new-user-photo { margin-right: 10px; margin-left: 10px;}
	.Feedback-area textarea { width: 310px;}
	.new-user-list .new-user-photo { width: 60px;}
	.new-user-list .new-user-name { float: left;margin-left: 20px;margin-right: 0px;margin-top: 0px;width: 90%;}
	.login-section { margin: 80px auto 0px auto;}
	.login-section .login-area .input-field .action-btn { margin-bottom: 30px;}
	.login-section .login-area .input-field-first input[type="text"] { width: 208px;}
	.form-area .input-field .action-btn { margin-bottom: 30px;}
	.form-area .input-field-first input[type="text"] { width: 208px;}
	.chat-window {min-height: 325px !important;}
	.chat-window .column-container { height: 325px;}
	.message-write-box .send-message-bar .send-input { width: 57%;}
	.message-write-box .send-message-bar .send-input input[type="text"] { padding: 12px 10px;}
	.message-write-box .send-message-bar .smily-box { width: 19%;}
	.message-write-box .send-message-bar .send-btn input[type="submit"] { padding: 11px 16px;}
	.content-section .chat-section .detail-area .position-banner-sec .chat-section-area img { height: 109px;}
	.content-section .chat-section .detail-area .group-chat-option-bar { height: 70px;}
	.frame { height: 70px;}
	.frame ul {padding: 7px 0px 0px 0px;}
	.frame ul li span { margin-bottom: 0px;}
	.add-user-section { padding: 40px 20px 20px 20px;}
	.my-chat {/*height: 484px;*/ min-height:484px !important;}
	.my-chat .column-container { height: 486px;}
	.m-r-0 { margin-right:20px !important; width:auto !important; margin-left:0px !important;}
	
	.form-area { width: 100%;}
	.form-area .input-field-first { width:100%;}
	.form-area .input-field-first input[type="text"] { width:100%;}
	.form-area .input-field { width:100%;}
	.form-area .input-field input[type="text"] { width:100%;}
	.form-area .input-field .select-input { width: 100%;}
	.form-area .input-field-file {width:100%;}
	.file-upload-input { width:100%;}
	.content-section .chat-section .detail-area .position-banner { height:173px;}
	.all-category {width: 60px;}
	.sub-category { width: 300px;}
	.content-section .chat-section .detail-area .group-chat-option-bar { padding-top: 5px;}
	.all, .love, .education, .fitness, .sports, .health, .entertainment, .music {margin: 0px auto 0px auto;}
}
@media (min-width:992px) and (max-width:1199px) {
	.frame ul li { width: 112px;}
	.content-section .sidebar {  width: 250px;}
	.content-section .chat-section {  margin-left: 250px;}
	.login-section { margin: 80px auto 0px auto;}
	.login-section .login-area .input-field .action-btn { margin-bottom: 30px;}
	.form-area .input-field .action-btn { margin-bottom: 30px;}
	.chat-window {min-height:127px !important;}
	.chat-window .column-container { height: 127px;}
	.message-write-box .send-message-bar .send-input { width: 71%;}
	.message-write-box .send-message-bar .smily-box { width: 11%;}
	/*.content-section .chat-section .detail-area .position-banner-sec .chat-section-area img { height: 195px;}*/
	/*.content-section .chat-section .detail-area .position-banner { height:290px;}*/
	.sub-category { width: 510px;}
}
@media (min-width:768px) and (max-width:1199px) {
	.content-section .top-header .search input[type="text"] { width: 320px;}
}
@media (min-width:1200px) {
}
@media (min-width:1200px) and (max-width:1300px) {
	/*.container { width:100%;}
	.content-section .sidebar { width: 30%; float: left;}
	.content-section .chat-section { width: 70%; float: left; margin-left:0px;}
	.content-section .chat-section .detail-area .position-banner { height:334px;}*/
	/*.content-section .chat-section .detail-area .position-banner-sec .chat-section-area img { height: 239px;}*/
	.chat-window { min-height: 50px !important;}
	.chat-window .column-container { height: 54px;} /* height: 127px;*/
}
@media (min-width:1301px) {
	/*.content-section .chat-section .detail-area .position-banner {height: 360px;}*/
}